<div
  class="container w-224 h-screen-85 bg-white grid grid-cols-5 mx-auto mt-16 border border-gray-300 overflow-y-hidden"
>
  <div
    class="h-full col-span-2 col-start-1 border-r border-gray-300 overflow-y-hidden"
  >
  <!-- Encabezado izquierda -->
    <div class="h-16 grid grid-cols-3 items-center border-b border-gray-300">
      <h1
        class="text-gray-800 font-semibold col-start-2 flex items-center gap-x-2"
      >
        {{ profile.userName }}
        <svg
          class="transform rotate-180"
          fill="#262626"
          height="20"
          viewBox="0 0 48 48"
          width="20"
        >
          <path
            d="M40 33.5c-.4 0-.8-.1-1.1-.4L24 18.1l-14.9 15c-.6.6-1.5.6-2.1 0s-.6-1.5 0-2.1l16-16c.6-.6 1.5-.6 2.1 0l16 16c.6.6.6 1.5 0 2.1-.3.3-.7.4-1.1.4z"
          ></path>
        </svg>
      </h1>
      <div class="justify-self-center">
        <svg fill="#262626" height="24" viewBox="0 0 44 44" width="24">
          <path
            d="M33.7 44.12H8.5a8.41 8.41 0 01-8.5-8.5v-25.2a8.41 8.41 0 018.5-8.5H23a1.5 1.5 0 010 3H8.5a5.45 5.45 0 00-5.5 5.5v25.2a5.45 5.45 0 005.5 5.5h25.2a5.45 5.45 0 005.5-5.5v-14.5a1.5 1.5 0 013 0v14.5a8.41 8.41 0 01-8.5 8.5z"
          ></path>
          <path
            d="M17.5 34.82h-6.7a1.5 1.5 0 01-1.5-1.5v-6.7a1.5 1.5 0 01.44-1.06L34.1 1.26a4.45 4.45 0 016.22 0l2.5 2.5a4.45 4.45 0 010 6.22l-24.3 24.4a1.5 1.5 0 01-1.02.44zm-5.2-3h4.58l23.86-24a1.45 1.45 0 000-2l-2.5-2.5a1.45 1.45 0 00-2 0l-24 23.86z"
          ></path>
          <path
            d="M38.2 14.02a1.51 1.51 0 01-1.1-.44l-6.56-6.56a1.5 1.5 0 012.12-2.12l6.6 6.6a1.49 1.49 0 010 2.12 1.51 1.51 0 01-1.06.4z"
          ></path>
        </svg>
      </div>
    </div>
    <!-- Listado -->
    <div
      class="w-full h-full flex flex-col gap-y-4 pb-20 pt-4 pl-4 overflow-y-auto"
    >
      <div *ngFor="let contact of stories" class="w-full flex items-center">
        <div class="w-16 h-16 rounded-full overflow-hidden">
          <img
            class="w-full h-full object-cover object-center"
            src="{{ contact.url }}"
            alt=""
          />
        </div>
        <div class="ml-5 flex-grow">
          <h1 class="text-sm font-semibold">{{ contact.userName }}</h1>
          <h2 class="text-sm text-gray-500">Enviaste un mensaje</h2>
        </div>
      </div>
    </div>

  </div>
  <div class="h-screen-85 relative col-span-3 col-start-3 flex flex-col">
    <!-- Encabezado derecha -->
    <div
      class="absolute w-full z-30 h-16 flex items-center justify-between bg-white border-b border-gray-300 px-8"
    >
      <div class="flex flex-row gap-x-3">
        <div class="relative h-7 w-7 rounded-full cursor-pointer">
          <img
            class="w-full h-full object-cover object-center rounded-full"
            src="{{ stories[0].url }}"
            alt="profile image"
          />
        </div>
        <h1 class="font-semibold">{{ stories[0].userName }}</h1>
      </div>
      <div>
        <svg
          aria-label="Ver detalles de la conversación"
          class="_8-yf5"
          fill="#262626"
          height="24"
          viewBox="0 0 48 48"
          width="24"
        >
          <path
            d="M24 48C10.8 48 0 37.2 0 24S10.8 0 24 0s24 10.8 24 24-10.8 24-24 24zm0-45C12.4 3 3 12.4 3 24s9.4 21 21 21 21-9.4 21-21S35.6 3 24 3z"
          ></path>
          <circle
            clip-rule="evenodd"
            cx="24"
            cy="14.8"
            fill-rule="evenodd"
            r="2.6"
          ></circle>
          <path
            d="M27.1 35.7h-6.2c-.8 0-1.5-.7-1.5-1.5s.7-1.5 1.5-1.5h6.2c.8 0 1.5.7 1.5 1.5s-.7 1.5-1.5 1.5z"
          ></path>
          <path
            d="M24 35.7c-.8 0-1.5-.7-1.5-1.5V23.5h-1.6c-.8 0-1.5-.7-1.5-1.5s.7-1.5 1.5-1.5H24c.8 0 1.5.7 1.5 1.5v12.2c0 .8-.7 1.5-1.5 1.5z"
          ></path>
        </svg>
      </div>
    </div>
    <!-- Chat -->
    <div class="relative w-full h-full flex flex-col gap-y-1 px-4 my-16 py-3 overflow-y-scroll ">
      <div [ngClass]="{'ml-auto': message.prop === 1}" *ngFor="let message of messages" >
        <div [ngClass]="{'bg-gray-200': message.prop === 1}" class="inline-block px-3 py-2 rounded-2xl text-sm border border-gray-200">
          {{message.message}}
        </div>
      </div>
    </div>
    <!-- Input -->
    <div class="absolute bottom-0 z-30 w-full h-16 px-4 py-3 bg-white border-b border-grey-400">
      <div
        class="flex flex-row items-center gap-x-3 h-full px-4 py-1 rounded-3xl border border-gray-300"
      >
        <svg
          aria-label="Emoji"
          class="_8-yf5"
          fill="#262626"
          height="24"
          viewBox="0 0 48 48"
          width="24"
        >
          <path
            d="M24 48C10.8 48 0 37.2 0 24S10.8 0 24 0s24 10.8 24 24-10.8 24-24 24zm0-45C12.4 3 3 12.4 3 24s9.4 21 21 21 21-9.4 21-21S35.6 3 24 3z"
          ></path>
          <path
            d="M34.9 24c0-1.4-1.1-2.5-2.5-2.5s-2.5 1.1-2.5 2.5 1.1 2.5 2.5 2.5 2.5-1.1 2.5-2.5zm-21.8 0c0-1.4 1.1-2.5 2.5-2.5s2.5 1.1 2.5 2.5-1.1 2.5-2.5 2.5-2.5-1.1-2.5-2.5zM24 37.3c-5.2 0-8-3.5-8.2-3.7-.5-.6-.4-1.6.2-2.1.6-.5 1.6-.4 2.1.2.1.1 2.1 2.5 5.8 2.5 3.7 0 5.8-2.5 5.8-2.5.5-.6 1.5-.7 2.1-.2.6.5.7 1.5.2 2.1 0 .2-2.8 3.7-8 3.7z"
          ></path>
        </svg>
        <input
          type="text"
          class="form-imput text-sm border-0 flex-grow focus:outline-none focus:ring-0"
          placeholder="Enviar mensaje..."
        />
        <!-- image -->
        <svg
          aria-label="Agregar foto o video"
          class="_8-yf5"
          fill="#262626"
          height="24"
          viewBox="0 0 48 48"
          width="24"
        >
          <path
            d="M38.5 0h-29C4.3 0 0 4.3 0 9.5v29C0 43.7 4.3 48 9.5 48h29c5.2 0 9.5-4.3 9.5-9.5v-29C48 4.3 43.7 0 38.5 0zM45 38.5c0 3.6-2.9 6.5-6.5 6.5h-29c-3.3 0-6-2.5-6.4-5.6l8.3-8.3c.1-.1.3-.2.4-.2.1 0 .2 0 .4.2l6.3 6.3c1.4 1.4 3.6 1.4 5 0L35.9 25c.2-.2.6-.2.8 0l8.3 8.3v5.2zm0-9.4l-6.2-6.2c-1.3-1.3-3.7-1.3-5 0L21.3 35.3c-.1.1-.3.2-.4.2-.1 0-.2 0-.4-.2L14.2 29c-1.3-1.3-3.7-1.3-5 0L3 35.2V9.5C3 5.9 5.9 3 9.5 3h29C42.1 3 45 5.9 45 9.5v19.6zM11.8 8.2c-1.9 0-3.5 1.6-3.5 3.5s1.6 3.5 3.5 3.5 3.5-1.6 3.5-3.5-1.6-3.5-3.5-3.5z"
          ></path>
        </svg>
        <!-- like -->
        <svg
          aria-label="Me gusta"
          class="_8-yf5"
          fill="#262626"
          height="24"
          viewBox="0 0 48 48"
          width="24"
        >
          <path
            d="M34.6 6.1c5.7 0 10.4 5.2 10.4 11.5 0 6.8-5.9 11-11.5 16S25 41.3 24 41.9c-1.1-.7-4.7-4-9.5-8.3-5.7-5-11.5-9.2-11.5-16C3 11.3 7.7 6.1 13.4 6.1c4.2 0 6.5 2 8.1 4.3 1.9 2.6 2.2 3.9 2.5 3.9.3 0 .6-1.3 2.5-3.9 1.6-2.3 3.9-4.3 8.1-4.3m0-3c-4.5 0-7.9 1.8-10.6 5.6-2.7-3.7-6.1-5.5-10.6-5.5C6 3.1 0 9.6 0 17.6c0 7.3 5.4 12 10.6 16.5.6.5 1.3 1.1 1.9 1.7l2.3 2c4.4 3.9 6.6 5.9 7.6 6.5.5.3 1.1.5 1.6.5.6 0 1.1-.2 1.6-.5 1-.6 2.8-2.2 7.8-6.8l2-1.8c.7-.6 1.3-1.2 2-1.7C42.7 29.6 48 25 48 17.6c0-8-6-14.5-13.4-14.5z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</div>
